.progress {
  width: 100%;
}

input[type="range"] {
  width: 100%;
  --range-progress: 0;

  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #d9d9d93b;
  height: 0.2vh;
}

input[type="range"]::-moz-range-track {
  background-color: #d9d9d93b;
  height: 0.2vh;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.5vh;
  background-color: #C124F1;
  height: 1.2vh;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

input[type="range"]::-moz-range-thumb {
  background-color: #C124F1;
  height: 1.4vh;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

input[type="range"]:focus {
  outline: none;
} 

input[type="range"]:focus::-webkit {
  outline: none;
} 


input[type="range"]::before {
  background: #f50;
  width: var(--range-progress);
}

.audio-player .inner {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  justify-content: center;
  align-items: center;
}

.audio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.4vh;
}

.audio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  row-gap: 0.2vh;
}

.audio-text .title {
  font-weight: 700;
  font-size: 0.75vi;
  opacity: 80%;
}

.audio-text .author {
  font-weight: 500;
  font-size: 0.63vi;
  opacity: 40%;
}

.audio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-image img {
  width: 80%;
  border-radius: 0.4vi;
}
